@page "/error"
@inject NavigationManager NavigationManager
@using Microsoft.Maui.Storage
@using System.Text.Json
@using System.Net.Http
@using System.Net.Http.Json
@using RF_Go.Utils

<h3>Error</h3>
<h2>Le serveur d'auth n'est sans doute pas en fonction</h2>

@code {
    protected override async Task OnInitializedAsync()
    {
    }
}
